
// compass imports
@import "compass/css3/images";
@import "compass/css3/box-shadow";


// image box 
div#the-container {
	width: 50em;
	height: auto;

	img#the-image {
		width: 100%;
		height: 100%;
	}
}


/**
 * ====================================================
 * ===================== 3D Style =====================
 * ====================================================
 *
 * Coloring/Design for loupe
 *
 */
@mixin style3D {

	// vars
	$border-color: #333;

	// ---------------- #lens-container ----------------

	background: $border-color;
	@include background( 
		linear-gradient( 160deg, color-stops( rgba(#fff,0.5) 0%, rgba(#fff,0.1) 50%,  rgba(#fff,0) 51% ) ),
		radial-gradient( color-stops( $border-color, #1a1a1a ), center center )
	);

	@include box-shadow(
		0px 3px 5px -3px lighten($border-color,50%) inset,
		0px -3px 5px -3px darken($border-color,10%) inset,
		0px -3px 5px -3px #000 inset,
		0px 3px 15px -3px #000,
		0px 3px 1px -1px $border-color,
		0px 0px 1px 1px $border-color 
	);

	&:hover  {
		width: 210px;
		height: 210px;
	}

	div#lens {

		@include box-shadow(
			0px 0px 5px 0px rgba(lighten($border-color,10%),0.3) inset,
			0px 5px 15px -5px #000,
			0px 0px 2px 1px darken($border-color,30%),
			0px -3px 7px -3px lighten($border-color,10%),
			0px 0px 100px 0px rgba(#000,0.3), 
			0px 0px 10px 0px rgba(#fff,0.5) inset,
			0px 0px 75px 0px rgba(#000,0.3) inset
		);

		@include background(
			radial-gradient(color-stops(rgba(#01a18c,0) 40%,  rgba(#01a18c,0.2)), center center)
		);

		&::before {
			background: rgba(#fff,0.3);
			@include background( linear-gradient(top, rgba(#fff,0.7), rgba(#fff,0)) );
		}
	}
}

/**
 * ======================================================
 * ===================== Flat Style =====================
 * ======================================================
 *
 * Coloring/Design for loupe
 *
 */
@mixin styleFlat {

	// vars
	$border-color: #333;

	// ---------------- #lens-container ----------------

	// border: 1px solid #fff;
	@include box-shadow(
		0px 0px 1px 1px #999,
		0px -1px 1px 1px #fff,
		0px 3px 15px -3px #000
	);

	div#lens {
		overflow: hidden;

		@include background(
			radial-gradient(color-stops(rgba(#01a18c,0) 40%,  rgba(#01a18c,0.1)), center center),
			radial-gradient(color-stops(rgba(#000,0) 50%, rgba(#000,0.3) 100%), center center)
		);

		&::before {
			width: 100%;
			height: 100%;
			@include background( radial-gradient( color-stops(rgba(#fff,0.4), rgba(#fff,0) 70% ), center center) );
		}
	}
}


/**
 * ======================================================
 * ===================== Metro Style ====================
 * ======================================================
 *
 * Coloring/Design for loupe
 *
 */
@mixin styleMetro {

	// vars
	$border-color: #ef3c43;

	// ---------------- #lens-container ----------------

	background: $border-color;
	@include box-shadow( 0px 0px 150px rgba(#000,0.2) );

	div#lens {
		overflow: hidden;

		&::before {
			width: 90%;
			height: 90%;
			left: 5%;
			top: 5%;
			@include background( linear-gradient( 200deg, color-stops( rgba(#fff,0.3), rgba(#fff,0.3) 20%, rgba(#fff,0) 20% )) );
		}
	}
}


/*
 *
 * Draggable Lens element
 * 
 * basic positioning and sizing; the design is mostly applied in the 'style' mixin
 * 
 */
div#lens-container {
	
	// vars
	$size: 200px;
	$border-width: 10px;

	top: 0;
	left: 0;
	height: $size;
	width: $size;	
	border-radius: 50%;

	// the cursor disappears when clicked
	&:hover { cursor: pointer; }
	&:active { cursor: none; }
	
	// for parsimony, some styles that are repeated for both #lens and #lens-image-container
	@mixin inner {
		position: absolute;
		width: ( $size - $border-width * 2 );
		height: ( $size - $border-width * 2 );
		top: $border-width;
		left: $border-width;
		border-radius: 50%;
	}

	div#lens {
		@include inner;
		z-index: 1;
	
		&::before {
			content: '';
			position: absolute;
			width: 50%;
			height: 20%;
			left: 25%;
			top: 5%;
			border-radius: 50%;
		}
	}

	div#lens-image-container {
		@include inner;
		overflow: hidden;

		img#lens-image { 
			position: absolute;
		}
	}

	// include the coloring declarations
	@include style3D;
}