/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "loupe";

div#page {
	// padding: 5em;

	// image box 
	div#the-container {
		position: relative;
		width: 40em;
		height: auto;

		img#the-image {
			width: 100%;
			height: 100%;
		}
	}
}