/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * 
 * Magnifying Glass Loupe
 *
 */
/**
 * ====================================================
 * ===================== 3D Style =====================
 * ====================================================
 *
 * Coloring/Design for loupe
 *
 */
/**
 * ======================================================
 * ===================== Flat Style =====================
 * ======================================================
 *
 * Coloring/Design for loupe
 *
 */
/**
 * ======================================================
 * ===================== Metro Style ====================
 * ======================================================
 *
 * Coloring/Design for loupe
 *
 */
/**
 * ======================================================
 * ===================== Smooth Style ===================
 * ======================================================
 *
 * Coloring/Design for loupe
 *
 */
/**
 *
 * for parsimony, some styles that are repeated for both #lens and #lens-image-container
 * within the 'loupe' mixin below
 *
 */
/*
 *
 * Draggable Lens element
 * 
 * basic positioning and sizing; the design is mostly applied in the style mixin
 * 
 */
/**
 * 
 *
 */
/* line 300, ../sass/loupe.scss */
div#lens-container.metro {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s, margin 0.3s;
  background: #ef3c43;
  -moz-box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.2);
}
/* line 243, ../sass/loupe.scss */
div#lens-container.metro:hover {
  cursor: pointer;
}
/* line 245, ../sass/loupe.scss */
div#lens-container.metro:active {
  cursor: none;
}
/* line 247, ../sass/loupe.scss */
div#lens-container.metro div#lens {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  z-index: 1;
}
/* line 251, ../sass/loupe.scss */
div#lens-container.metro div#lens::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 20%;
  left: 25%;
  top: 5%;
  border-radius: 50%;
}
/* line 262, ../sass/loupe.scss */
div#lens-container.metro div#lens-image-container {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 266, ../sass/loupe.scss */
div#lens-container.metro div#lens-image-container img#lens-image {
  position: absolute;
}
/* line 128, ../sass/loupe.scss */
div#lens-container.metro div#lens {
  overflow: hidden;
}
/* line 131, ../sass/loupe.scss */
div#lens-container.metro div#lens::before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background: -moz-linear-gradient(250deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 20%);
  background: -webkit-linear-gradient(250deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 20%);
  background: linear-gradient(200deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 20%);
}
/* line 300, ../sass/loupe.scss */
div#lens-container.flat {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s, margin 0.3s;
  -moz-box-shadow: 0px 0px 1px 1px #655c3b, 0px -1px 1px 1px #efece3, 0px 3px 15px -3px black;
  -webkit-box-shadow: 0px 0px 1px 1px #655c3b, 0px -1px 1px 1px #efece3, 0px 3px 15px -3px black;
  box-shadow: 0px 0px 1px 1px #655c3b, 0px -1px 1px 1px #efece3, 0px 3px 15px -3px black;
}
/* line 243, ../sass/loupe.scss */
div#lens-container.flat:hover {
  cursor: pointer;
}
/* line 245, ../sass/loupe.scss */
div#lens-container.flat:active {
  cursor: none;
}
/* line 247, ../sass/loupe.scss */
div#lens-container.flat div#lens {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  z-index: 1;
}
/* line 251, ../sass/loupe.scss */
div#lens-container.flat div#lens::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 20%;
  left: 25%;
  top: 5%;
  border-radius: 50%;
}
/* line 262, ../sass/loupe.scss */
div#lens-container.flat div#lens-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 266, ../sass/loupe.scss */
div#lens-container.flat div#lens-image-container img#lens-image {
  position: absolute;
}
/* line 87, ../sass/loupe.scss */
div#lens-container.flat div#lens {
  overflow: hidden;
  -moz-box-shadow: 0px 0px 0px 1px #655c3b, 0px 0px 10px 0px rgba(201, 193, 163, 0.25) inset, 0px 0px 3px 1px rgba(201, 193, 163, 0.25) inset;
  -webkit-box-shadow: 0px 0px 0px 1px #655c3b, 0px 0px 10px 0px rgba(201, 193, 163, 0.25) inset, 0px 0px 3px 1px rgba(201, 193, 163, 0.25) inset;
  box-shadow: 0px 0px 0px 1px #655c3b, 0px 0px 10px 0px rgba(201, 193, 163, 0.25) inset, 0px 0px 3px 1px rgba(201, 193, 163, 0.25) inset;
  background: -moz-radial-gradient(center center, rgba(1, 161, 140, 0) 40%, rgba(1, 161, 140, 0.1)), -moz-radial-gradient(center center, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
  background: -webkit-radial-gradient(center center, rgba(1, 161, 140, 0) 40%, rgba(1, 161, 140, 0.1)), -webkit-radial-gradient(center center, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
  background: radial-gradient(center center, rgba(1, 161, 140, 0) 40%, rgba(1, 161, 140, 0.1)), radial-gradient(center center, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
}
/* line 101, ../sass/loupe.scss */
div#lens-container.flat div#lens::before {
  width: 100%;
  height: 100%;
  background: -moz-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 70%);
  background: -webkit-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 70%);
}
/* line 300, ../sass/loupe.scss */
div#lens-container.glossy {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s, margin 0.3s;
  background: #333333;
  background: -moz-linear-gradient(290deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 51%), -moz-radial-gradient(center center, #333333, #1a1a1a);
  background: -webkit-linear-gradient(290deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 51%), -webkit-radial-gradient(center center, #333333, #1a1a1a);
  background: linear-gradient(160deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 51%), radial-gradient(center center, #333333, #1a1a1a);
  -moz-box-shadow: 0px 3px 5px -3px #b3b3b3 inset, 0px -3px 5px -3px #1a1a1a inset, 0px -3px 5px -3px black inset, 0px 3px 15px -3px black, 0px 3px 1px -1px #333333, 0px 0px 1px 1px #333333;
  -webkit-box-shadow: 0px 3px 5px -3px #b3b3b3 inset, 0px -3px 5px -3px #1a1a1a inset, 0px -3px 5px -3px black inset, 0px 3px 15px -3px black, 0px 3px 1px -1px #333333, 0px 0px 1px 1px #333333;
  box-shadow: 0px 3px 5px -3px #b3b3b3 inset, 0px -3px 5px -3px #1a1a1a inset, 0px -3px 5px -3px black inset, 0px 3px 15px -3px black, 0px 3px 1px -1px #333333, 0px 0px 1px 1px #333333;
}
/* line 243, ../sass/loupe.scss */
div#lens-container.glossy:hover {
  cursor: pointer;
}
/* line 245, ../sass/loupe.scss */
div#lens-container.glossy:active {
  cursor: none;
}
/* line 247, ../sass/loupe.scss */
div#lens-container.glossy div#lens {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  z-index: 1;
}
/* line 251, ../sass/loupe.scss */
div#lens-container.glossy div#lens::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 20%;
  left: 25%;
  top: 5%;
  border-radius: 50%;
}
/* line 262, ../sass/loupe.scss */
div#lens-container.glossy div#lens-image-container {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 266, ../sass/loupe.scss */
div#lens-container.glossy div#lens-image-container img#lens-image {
  position: absolute;
}
/* line 43, ../sass/loupe.scss */
div#lens-container.glossy div#lens {
  -moz-box-shadow: 0px 0px 5px 0px rgba(77, 77, 77, 0.3) inset, 0px 5px 15px -5px black, 0px 0px 2px 1px black, 0px -3px 7px -3px #4d4d4d, 0px 0px 100px 0px rgba(0, 0, 0, 0.3), 0px 0px 10px 0px rgba(255, 255, 255, 0.5) inset, 0px 0px 75px 0px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(77, 77, 77, 0.3) inset, 0px 5px 15px -5px black, 0px 0px 2px 1px black, 0px -3px 7px -3px #4d4d4d, 0px 0px 100px 0px rgba(0, 0, 0, 0.3), 0px 0px 10px 0px rgba(255, 255, 255, 0.5) inset, 0px 0px 75px 0px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 0px 5px 0px rgba(77, 77, 77, 0.3) inset, 0px 5px 15px -5px black, 0px 0px 2px 1px black, 0px -3px 7px -3px #4d4d4d, 0px 0px 100px 0px rgba(0, 0, 0, 0.3), 0px 0px 10px 0px rgba(255, 255, 255, 0.5) inset, 0px 0px 75px 0px rgba(0, 0, 0, 0.3) inset;
  background: -moz-radial-gradient(center center, rgba(1, 161, 140, 0) 40%, rgba(1, 161, 140, 0.2));
  background: -webkit-radial-gradient(center center, rgba(1, 161, 140, 0) 40%, rgba(1, 161, 140, 0.2));
  background: radial-gradient(center center, rgba(1, 161, 140, 0) 40%, rgba(1, 161, 140, 0.2));
}
/* line 59, ../sass/loupe.scss */
div#lens-container.glossy div#lens::before {
  background: rgba(255, 255, 255, 0.3);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}
/* line 300, ../sass/loupe.scss */
div#lens-container.smooth {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s, margin 0.3s;
  background: white;
  background: -moz-linear-gradient(top, #ffffff, #999999);
  background: -webkit-linear-gradient(top, #ffffff, #999999);
  background: linear-gradient(to bottom, #ffffff, #999999);
  -moz-box-shadow: 0px 50px 50px -50px red, 0px 50px 50px -50px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 50px 50px -50px red, 0px 50px 50px -50px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 50px 50px -50px red, 0px 50px 50px -50px rgba(0, 0, 0, 0.7);
}
/* line 243, ../sass/loupe.scss */
div#lens-container.smooth:hover {
  cursor: pointer;
}
/* line 245, ../sass/loupe.scss */
div#lens-container.smooth:active {
  cursor: none;
}
/* line 247, ../sass/loupe.scss */
div#lens-container.smooth div#lens {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  z-index: 1;
}
/* line 251, ../sass/loupe.scss */
div#lens-container.smooth div#lens::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 20%;
  left: 25%;
  top: 5%;
  border-radius: 50%;
}
/* line 262, ../sass/loupe.scss */
div#lens-container.smooth div#lens-image-container {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 266, ../sass/loupe.scss */
div#lens-container.smooth div#lens-image-container img#lens-image {
  position: absolute;
}
/* line 168, ../sass/loupe.scss */
div#lens-container.smooth div#lens {
  overflow: hidden;
  background: -moz-linear-gradient(top, #999999, #ffffff);
  background: -webkit-linear-gradient(top, #999999, #ffffff);
  background: linear-gradient(to bottom, #999999, #ffffff);
  z-index: 0;
}
/* line 180, ../sass/loupe.scss */
div#lens-container.smooth div#lens-image-container {
  width: 85%;
  height: 85%;
  top: 7.5%;
  left: 7.5%;
}
/* line 186, ../sass/loupe.scss */
div#lens-container.smooth div#lens-image-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 50%;
  -moz-box-shadow: 0px 50px 50px -40px rgba(0, 0, 0, 0.7) inset;
  -webkit-box-shadow: 0px 50px 50px -40px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0px 50px 50px -40px rgba(0, 0, 0, 0.7) inset;
}

/* line 9, ../sass/screen.scss */
div#page {
  padding: 5em;
}
/* line 13, ../sass/screen.scss */
div#page div#the-container {
  position: relative;
  width: 40em;
  height: auto;
  padding: 3em;
  border: 2px solid #333;
}
/* line 20, ../sass/screen.scss */
div#page div#the-container img#the-image {
  width: 100%;
  height: 100%;
}
