/* line 3, ../sass/style.scss */
div#the-container {
  width: 20em;
  height: 30em;
  border: 2px solid red;
}
/* line 8, ../sass/style.scss */
div#the-container img#the-image {
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/style.scss */
div#lens-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #333333;
  background: -webkit-radial-gradient(center center, circle, #333333, #1a1a1a);
  box-shadow: 0px 3px 5px -3px #b3b3b3 inset, 0px -3px 5px -3px #1a1a1a inset, 0px -3px 5px -3px black inset, 0px 3px 10px -3px black, 0px 0px 1px 1px #333333;
}
/* line 46, ../sass/style.scss */
div#lens-container div#lens {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(77, 77, 77, 0.3) inset, 0px 5px 15px -5px black, 0px 0px 2px 1px black, 0px -3px 7px -3px #4d4d4d, 0px 0px 100px 0px rgba(0, 0, 0, 0.3);
  background: -webkit-radial-gradient(center center, circle, rgba(1, 161, 140, 0) 40%, rgba(1, 161, 140, 0.2)), -webkit-radial-gradient(center center, circle, transparent 50%, rgba(0, 0, 0, 0.3) 100%);
}
/* line 58, ../sass/style.scss */
div#lens-container div#lens::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 20%;
  left: 25%;
  top: 5%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}
/* line 72, ../sass/style.scss */
div#lens-container div#lens-image-container {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  overflow: hidden;
}
/* line 76, ../sass/style.scss */
div#lens-container div#lens-image-container img#lens-image {
  position: absolute;
  top: 0;
  left: 0;
}
